<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.boot.mapper.CellTypeFdrMapper">
    <resultMap id="BaseResultMap" type="com.spring.boot.pojo.Fdr">
        <result column="f_gse_id" jdbcType="VARCHAR" property="gseId"/>
        <result column="f_gwas_id" jdbcType="VARCHAR" property="gwasId"/>
        <result column="f_cell_type" jdbcType="VARCHAR" property="cellType"/>
        <result column="f_total_cells" jdbcType="INTEGER" property="totalCells"/>
        <result column="f_significant_cells_fdr_05" jdbcType="INTEGER" property="significantCellsFdr05"/>
        <result column="f_prop_significant_fdr_05" jdbcType="DOUBLE" property="propSignificantFdr05"/>
        <result column="f_significant_cells_fdr_1" jdbcType="INTEGER" property="significantCellsFdr1"/>
        <result column="f_prop_significant_fdr_1" jdbcType="DOUBLE" property="propSignificantFdr1"/>
        <result column="f_significant_cells_fdr_2" jdbcType="INTEGER" property="significantCellsFdr2"/>
        <result column="f_prop_significant_fdr_2" jdbcType="DOUBLE" property="propSignificantFdr2"/>
    </resultMap>
    <select id="selectByGseIdList" resultMap="BaseResultMap">
        select f_gse_id,
        f_gwas_id,
        f_cell_type,
        f_total_cells,
        f_significant_cells_fdr_05,
        f_prop_significant_fdr_05,
        f_significant_cells_fdr_1,
        f_prop_significant_fdr_1,
        f_significant_cells_fdr_2,
        f_prop_significant_fdr_2
        from t_cell_type_fdr
        WHERE f_gse_id IN
        <foreach collection="gseIdList" open="(" separator="," close=")" item="gseId">
            #{gseId}
        </foreach>
    </select>

</mapper>