<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.boot.mapper.RiskSnpMapper">
    <resultMap id="BaseResultMap" type="com.spring.boot.pojo.RiskSnp">
        <result column="f_chr" jdbcType="VARCHAR" property="chr"/>
        <result column="f_start" jdbcType="INTEGER" property="start"/>
        <result column="f_end" jdbcType="INTEGER" property="end"/>
        <result column="f_rs_id" jdbcType="VARCHAR" property="rsId"/>
        <result column="f_ref" jdbcType="VARCHAR" property="ref"/>
        <result column="f_alt" jdbcType="VARCHAR" property="alt"/>
        <result column="f_gene" jdbcType="VARCHAR" property="gene"/>
        <result column="f_disease" jdbcType="VARCHAR" property="disease"/>
        <result column="f_type" jdbcType="VARCHAR" property="type"/>
        <result column="f_p_value" jdbcType="VARCHAR" property="pValue"/>
        <result column="f_gwas_or" jdbcType="VARCHAR" property="gwasOr"/>
        <result column="f_pmid" jdbcType="VARCHAR" property="pmid"/>
    </resultMap>
    <select id="selectByChrAndStartAndEnd" resultMap="BaseResultMap">
        select f_chr,
               f_start,
               f_end,
               f_rs_id,
               f_ref,
               f_alt,
               f_gene,
               f_disease,
               f_type,
               f_p_value,
               f_gwas_or,
               f_pmid
        from t_risk_snp
        <include refid="com.spring.boot.chromatin_interaction_where"/>
    </select>
</mapper>