<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.boot.mapper.SuperEnhancerSedbv2Mapper">
    <resultMap id="BaseResultMap" type="com.spring.boot.pojo.SuperEnhancerSedbv2">
        <result column="f_chr" jdbcType="VARCHAR" property="chr"/>
        <result column="f_start" jdbcType="INTEGER" property="start"/>
        <result column="f_end" jdbcType="INTEGER" property="end"/>
        <result column="f_sedb_id" jdbcType="VARCHAR" property="sedbId"/>
        <result column="f_tissue_type" jdbcType="VARCHAR" property="tissueType"/>
        <result column="f_cell_type" jdbcType="VARCHAR" property="cellType"/>
    </resultMap>
    <select id="selectByChrAndStartAndEnd" resultMap="BaseResultMap">
        select f_chr, f_start, f_end, f_sedb_id, f_tissue_type, f_cell_type
        from t_super_enhancer_sedbv2
        <include refid="com.spring.boot.chromatin_interaction_where"/>
    </select>
</mapper>